@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@300&family=PT+Sans:ital@1&family=Poppins:wght@300;400&family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", "Inter", sans-serif;
  background-color: black;
}
.logo-link {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.navbar {
  max-height: 150px;
  min-height: 50px;
}
.logo-link {
  text-decoration: none;
  color: white;
}
header {
  top: 0;
  /* background-color: #B3E283; */
  /* margin: 15px; */
  /* background-color: #85EF47; */
  background-color: black;
  color: white;
  /* height: 100%; */
}
nav {
  position: fixed;
 background-color: #0a0a0a;
  overflow: hidden;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  /* height: 100%; */
  width: 100%;
}
.nav-left {
  width: 20%;
  text-align: center;
  align-items: center;
  /* padding-left: 20px; */
}
.nav-right {
  background-color: white;
  width: 65%;
  padding: 0.8%;
  height: 100%;
  border: 1px solid white;
  border-radius: 60px 0 0px 0px;
}
.logo {
  height: 7.55vh;
}
.nav-child {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  column-gap: 10%;
  background-color: white;
  border: 0px solid transparent;
  border-radius: 50px 25px 25px 25px;
}
.current-pg:hover {
  color: blue;
  border: 2px solid lightcyan;
}
.rest-pg {
  display: flex;
  column-gap: 20px;
  align-items: center;
  height: 100px;
}

.rest-pg:hover {
  border: 0px solid lightcyan;
  /* border-radius: 25px; */
  /* background-color: green; */
}
.rest-pg a {
  text-decoration: none;
  color: green;
  font-weight: 500;
  width: 100%;
  height: 100%;
  font-size: 23px;
}
.current-pg a {
  text-decoration: none;
  color: white;
}
.nav-child li {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100%;
}
.logo-name{
  font-size: 24px;
  /* padding: 20px; */
}
@media screen and (max-width: 1080px) {
  .nav-right {
    border-radius: 30px;
    
  }
  .logo-name{
    font-size: 55px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1080px) {
  
  .nav-child {
    column-gap: 5%;
    font-weight: 600;
    font-size: 15px;
  }
  .nav-left {
    width: auto;
    margin-bottom: 7px;
    font-size: 23px;
  }
  .nav-right {
    width: 80%;
    border-radius: 30px;
    margin-top: 7px;
  }
  nav {
    /* height: 50vh; */
    /* margin-top: 10px; */
    font-weight: bold;
    padding-top: 3px;
    width: 100vw;
    font-size: 29px;
    border: 10px solid black;
    justify-content: center;
    flex-direction: column;
    /* row-gap: 10px; */
  }
  body {
    /* font-size: 16px; */
  }
  .logo-name{
    display: block;
  }
}

/* HEADER END */
/* HERO START */
.stick {
  position: fixed;
  z-index: 1;
  bottom: 8%;
  right: 4%;
}
.stick-img {
  top: -50px;
  right: -50px;
  height: 50px;
  animation: wp 1s ease 3s infinite reverse forwards;
}
@keyframes wp {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}
@media screen and (max-width: 1024px) {
  .stick-img {
    top: 546px;
    left: 329px;
    height: 40px;
  }
}
.hero {
  /* background-image: url(./assets/190501-Healthcare.jpg); */
  height: 100%;
  background-color: white;
  align-self: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  color: #0a0a0a;
  font-weight: 600;
  text-decoration: none;
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/* .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.hero-content {
  margin: auto;
  padding: 30px 0;
  width: 90%;
  max-height: 750px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero-img {
  width: 50%;
  min-width: 280px;
  border-radius: 12px;
}
.slideshow-container {
  text-align: center;
  align-items: center;
  justify-items: center;
}
.hero-image {
  /* max-height: 700px; */
  max-width: 75%;
  /* min-width: 100px; */
}
@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-48px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateX(-26px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateX(-13px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateX(-4px);
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
.hero-qualities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
}
.quality-service {
  list-style: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  min-width: 2px;
  animation: myAnim 0.3s ease 0s 1 normal forwards;
}
.quality-service:hover {
  color: green;
}
.quality-img {
  border: 2px solid green;
  padding: 10px;
  border-radius: 50% 50%;
  /* max-height: 50px; */
  /* max-width: 50px; */
  /* height: 40%; */
  /* width: 50%; */
  /* min-height: 40px; */
  /* min-width: 40px; */
}
@media screen and (min-width: 360px) {
  .hero-qualities {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .hero {
    border-radius: 50px 50px 0px 0px;
    padding: 50px 0;
    margin-top: 150px;
    width: 100%;
    /* margin: 50px; */
    height: 100vh;
  }
  .mySlides{
    width: 100%;
  }
  .hero-img{
    /* width: 100px; */
  }
  .hero-content {
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .hero-qualities {
    flex: 0 1 60%;
    width: 80%;
    /* font-size: 20px; */
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .quality-service {
    display: flex;
    padding: 10px;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    align-items: center;
    height: 110px;
    width: 50%;
  }
}
.product {
  /* height: auto; */
  margin: auto;
  padding-top: 50px;
  /* padding: 40px; */
  background-color: white;
  justify-self: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.product-img {
  text-align: center;
  /* width: 38%; */
}
.description {
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
  color: black;
  font-style: italic;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .hero {
    height: auto;
    /* font-size: 16px; */
  }
  .product {
    flex-direction: column;
    row-gap: 30px;
    height: auto;
    /* height: auto; */
  }
  .description {
    text-align: center;
    width: 85%;
    font-size: 16px;
  }
  .enquire {
    padding-top: 30px;
  }
}
.end {
  background-color: black;
}
footer {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer-logo {
  height: 80px;
}
.adi-footer {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
  /* row-gap: 50px; */
  text-align: center;
  justify-content: space-evenly;
}
.links-footer {
  width: 100%;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  column-gap: 15%;
  justify-content: center;
}
.links-footer li {
  list-style: none;
  font-weight: 600;
}
.links h2 {
  color: green;
}
.privacy-policy {
  width: 100%;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  row-gap: 10px;
  padding: 30px 0;
}
.privacy-policy h2 {
  color: green;
}
.logo-footer-txt {
  color: green;
  display: flex;
  /* align-items: flex-start; */
  flex-direction: column;
  row-gap: 10px;
  font-size: 30px;
  padding-bottom: 20px;
}
.logo-footer-txt span {
  color: white;
}

.privacy-policy li {
  list-style: none;
}
.footer-contact {
  display: block;
}
@media screen and (max-width: 640px) {
  footer {
    flex-direction: column;
    row-gap: 20px;
    margin: auto;
    width: 100%;
    align-items: center;
  }
  .footer-logo {
    margin: auto;
    height: 10vh;
  }
  .adi-footer {
    /* flex-direction: column; */
    row-gap: 20px;
  }
  .privacy-policy {
    width: 60%;
  }
  .link-footer {
    /* width: 100%; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .links-footer li {
    flex-direction: row;
    display: inline;
    list-style: none;
  }
  .logo-footer-txt {
    /* text-align: center; */
    align-items: center;
    margin: auto;
    padding: 10px;
  }
  .enquire{
    width: 80%;
    height: 30%;
  }
  .logo-link{
    font-size: 55px;
  }
}
/* Animations */
.banner-txt{
  font-size: 30px;
}

/* Animations */
.enquire {
  box-shadow: inset 0px 0px 0px 0px #caefab;
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color: #77d42a;
  border-radius: 12px;
  border: 1px solid #268a16;
  display: inline-block;
  cursor: pointer;
  color: #0a0a0a;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 26px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c;
  display: block;
  /* width: 25%; */
  text-align: center;
  margin: 20px auto;
}
.enquire:hover {
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color: #5cb811;
}
.enquire:active {
  position: relative;
  top: 1px;
}

.imgg{}
img {
  vertical-align: middle;

}

/* Position the image container (needed to position the left and right arrows) */
.container {
  /* height: 500px; */
  width: 90%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  align-items: center;
  position: relative;
  justify-content: center;
}
.center{
  margin: auto;
  text-align: center;
}

/* Hide the images by default */
.product-img {
  display: none;
  width: 50%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #268a16;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */


/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: black; */
  border: 1px solid black;
  border-radius: 12px;
}
.column {
  text-align: center;
  /* float: right; */
  /* width: 16.66%; */
}
@media screen and (max-width: 640px){
  .container{
    /* row-gap: 5000px; */
  }
  .product-img{
    width: 300px;
  }
}